{% extends "attendance_manager/base.html" %}
{% load widget_tweaks %}
{% block content %}

{% if form %}
<form class="w3-container w3-margin w3-border w3-round" method="POST" action="">
    <h1>Take Attendance</h1>
    <hr>
    {% csrf_token %}

    <strong>{{ user.email }}</strong>    

    {{ form.as_p }}
    <p>
        {{ form.submit }}
    </p>
    <p>
        <input class="w3-btn w3-blue-grey" type="submit" value="Submit">
    </p>

    <hr>

    {% if records %}

    <h2>Attendance</h2>
    <H4>Class: {{ class }}</h4>
    <h4>From: {{ from }}</h4>
    <h4>To: {{ to }}</h4>

    <table class="w3-table-all w3-hoverable" id="tblData">
        <tr class="w3-blue-grey w3-hide">
            <th>{{ user.username }} - {{ user.email }}</th>
        </tr>
        <tr class="w3-blue-grey w3-hide">
            <th>Class: {{ class }}, Presenty From: {{ from }} to {{ to }} </th>
        </tr>
        <tr class="w3-blue-grey">
            <th>Student Names</th>
        </tr>
        
        {% for i in records %}
        <tr>
            <th>{{ i.student }}</th>
        </tr>
        {% endfor %}

    </table>

    <button class="w3-margin-top w3-btn w3-blue-grey w3-margin-bottom" onclick="exportTableToExcel('tblData', '{{ class }} - {{ from }} - {{ to }}')">Download Attendance Sheet</button>

    {% endif %}


</form>

<script>
function exportTableToExcel(tableID, filename = ''){
    var downloadLink;
    var dataType = 'application/vnd.ms-excel';
    var tableSelect = document.getElementById(tableID);
    var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
    
    // Specify file name
    filename = filename?filename+'.xls':'excel_data.xls';
    
    // Create download link element
    downloadLink = document.createElement("a");
    
    document.body.appendChild(downloadLink);
    
    if(navigator.msSaveOrOpenBlob){
        var blob = new Blob(['\ufeff', tableHTML], {
            type: dataType
        });
        navigator.msSaveOrOpenBlob( blob, filename);
    }else{
        // Create a link to the file
        downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
    
        // Setting the file name
        downloadLink.download = filename;
        
        //triggering the function
        downloadLink.click();
    }
}
</script>

  
{% endif %}

{% endblock %}