{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if title %}
    <title>{{ title }} | Flask Blog</title>
    {% else %}
    <title>Flask Blog</title>
    {% endif %}

    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <link rel="stylesheet" href="{% static 'attendance_manager/css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'attendance_manager/css/style.css' %}">

</head>

<body>

    {% include 'attendance_manager/navbar.html' %}

    <div class="w3-content" style="max-width:1400px">

        {% if messages %}

        {% for message in messages %}

        {% if message.tags == "success" %}
        <div class="w3-panel w3-pale-green w3-display-container w3-round"
            style="margin-left: 16px; margin-right: 16px; margin-bottom: 0;">
            <p>{{ message }}</p>
        </div>
        {% endif %}
        {% if category == "info" %}
        <div class="w3-panel w3-pale-blue w3-display-container w3-round"
            style="margin-left: 16px; margin-right: 16px; margin-bottom: 0;">
            <p>{{ message }}</p>
        </div>
        {% endif %}
        {% if category == "warning" %}
        <div class="w3-panel w3-pale-yellow w3-display-container w3-round"
            style="margin-left: 16px; margin-right: 16px; margin-bottom: 0;">
            <p>{{ message }}</p>
        </div>
        {% endif %}
        {% if category == "danger" %}
        <div class="w3-panel w3-pale-red w3-display-container w3-round"
            style="margin-left: 16px; margin-right: 16px; margin-bottom: 0;">
            <p>{{ message }}</p>
        </div>
        {% endif %}

        {% endfor %}

        {% endif %}

        <div class="">

            {% block content %}{% endblock %}

        </div><br>
    </div>


</body>

</html>